---
import Layout from '@layouts/Layout.astro';
---

<Layout title="Novedades">
    <section class="mb-12">
        <div class="text-center mb-8">
            <h1 class="text-5xl font-semibold">Regreso a clases 2024</h1>
        </div>
        <div class="border-t border-2 border-[#8fc74a] my-8 mx-auto w-full"></div>
        <div class="grid gap-4 lg:grid-cols-2 md:grid-cols-1 sm:grid-cols-1">
            <div class="flex justify-center">
                <picture>
                    <img src="/images/avisoingresoaclasesUCC.jpg" alt="avisoingresoaclasesUCC" srcset="" class="lg:w-full sm:w-96 mb-6 border-t border-2 border-[#8fc74a] shadow-xl">
                </picture>
            </div>
            <div>
                <picture class="flex justify-center">
                    <img src="/images/avisoingresoaclasesUSTA.jpg" alt="avisoingresoaclasesUCC" srcset="" class="lg:w-full sm:w-96 border-t border-2 border-[#8fc74a] shadow-xl">
                </picture>
            </div>
        </div>
        
    </section>
    <section >
        <div class="text-center mb-8">
            <h1 class="text-5xl font-semibold mb-4">Promociones</h1>
            <div class="border-t border-2 border-[#8fc74a] my-8 mx-auto w-full"></div>
            <div class=" flex justify-center items-center ">
                <div class="p-7 ">
                    <h3 class="text-2xl font-semibold mb-6 text-center">
                        
                   
                        En parquearse encuentra siempre lo mejor
                    </h3>
                    <div class="w-full">
                        <ul class="grid gap-10 lg:grid-cols-3 md:grid-cols-1 sm:grid-cols-1 text-xl">
                            <li>Mejor Experiencia</li>
                            <li>Seguridad</li>
                            <li>Descuentos</li>
                        </ul>
                    </div>
                    
                
                </div>
            </div>
        </div>
        
        <div class="grid gap-4 lg:grid-cols-2 md:grid-cols-1 sm:grid-cols-1">
            <div class="flex justify-center items-center">
                <picture>
                    <img src="/images/promo1.png" alt="" srcset="" class="lg:w-full sm:w-96 mb-6 border-t border-2 border-[#8fc74a] shadow-xl">
                </picture>
            </div>
            <div class="flex justify-center">
                <picture>
                    <img src="/images/milleniunpromo.png" alt="" srcset="" class="lg:w-full sm:w-96 mb-6 border-t border-2 border-[#8fc74a] shadow-xl">
                </picture>
            </div>
        </div>
    </section>

    <section>
        <div class="grid lg:grid-cols-2 sm:grid-cols-1 md:grid-cols-1 gap-1 ">
            <div>
                <picture>
                    <img src="/images/milleniunpromo.png" alt="" srcset="" class="lg:w-full sm:w-96 mb-6 border-t border-2 border-[#8fc74a] shadow-xl">
                </picture>
            </div>
        </div>
       
    </section>
</Layout>