---

import FormularioServicio from "@components/FormularioServicio.astro";
import Layout from "@layouts/Layout.astro";

---

<Layout title="servicios">
    <section class="grid grid-cols-1 sm:grid-cols-2 gap-6 mb-6">
        <div>
            <img src="/images/markting.png" alt="marketing" class="w-full">
        </div>
        <div>
            <div class="p-2">
                <h3 class="text-3xl sm:text-4xl text-center mb-8 font-semibold">
                    Su aliado en estrategias de mercadeo
                </h3>
                <p class="text-justify text-xl sm:text-2xl">
                    Nuestras sedes ubicadas estratégicamente cuentan con el tráfico necesario para que sus campañas 
                    publicitarias logren en su marca la visibilidad que necesita
                </p>
            </div>
        </div>
    </section>
    <div class="border-t border-2 border-green-900 my-8 mx-auto w-full"></div>
    <section class="grid xl:grid-cols-3 sm:grid-cols-1 md:grid-cols-2  gap-1 mt-6 mb-10">
        <div class="card max-w-sm shadow-2xl p-5  border border-gray-400 rounded-sm dark:bg-[#8fc74a] grid  grid-rows-[auto_1fr_auto]">
           
            <div class=" text-center">
                    <h1 class="text-4xl pb-3 text-white font-semibold mb-6">
                        Volanteo y sampling
                    </h1>
            </div>
            <div>
                <p class="mb-3 text-lg leading-relaxed text-justify" >
                    Promocione su campaña o realice activaciones comerciales  con diversas actividades como: 
                    volanteo a gran escala o de manera personalizada, 
                    recopilación de bases de datos, creación de expectación y promoción de nuevos productos o servicios.   
                </p>
                   
            </div>
            <div class="flex justify-center p-4">
                <img class="rounded-full shadow-xl shadow-slate-600 w-52 h-52 sm:w-64 sm:h-64 object-cover" src="/images/BTL1.png" alt="" />
             </div>
        </div>
        <div class="card max-w-sm shadow-2xl p-5 border border-gray-400 rounded-sm dark:bg-[#8fc74a] grid  grid-rows-[auto_1fr_auto]">
           
            <div class=" text-center">
                    <h1 class="text-4xl p-2 text-white font-semibold mb-6">
                        Marketing Visual
                    </h1>
            </div>
            <div>
                <p class="mb-3 text-lg leading-relaxed text-justify" >
                    Ofrecemos espacios publicitarios disponibles, como vallas, cajas de luces, 
                    floo​r graphics, branding en puntos de pago, pancartas, pendones, habladores, camisetas publicitarias, 
                    tropezones y otros medios de comunicación para divulgación de marca y refuerzo en campañas publicitarias  
                </p>
                   
            </div>
            <div class="flex justify-center p-4">
                <img class="rounded-full shadow-xl shadow-slate-600 w-52 h-52 sm:w-64 sm:h-64 object-cover" src="/images/visualmarketing4.jpg" alt="" />
             </div>
        </div>
        <div class="card max-w-sm shadow-2xl p-5  border border-gray-400 rounded-sm dark:bg-[#8fc74a] grid  grid-rows-[auto_1fr_auto]">
           
            <div class=" text-center">
                    <h1 class="text-4xl p-2 text-white font-semibold mb-6">
                        Marketing BTL
                    </h1>

                </div>
            <div >
                <p class="mb-3 text-lg leading-relaxed text-justify" >
                    Nuestra infraestructura permite a nuestros clientes la realización de eventos 
                    para refuerzo de marca y divulgación de promociones.   
                </p>
                   
            </div>
            <div class="flex justify-center p-4">
                <img class="rounded-full shadow-xl shadow-slate-600 w-52 h-52 sm:w-64 sm:h-64 object-cover" src="/images/festival3.png" alt="" />
             </div>
        </div>
    </section>
    <div class="border-t border-2 border-green-900 my-8 mx-auto w-full"></div>
    <section class="grid grid-cols-1 sm:grid-cols-2 gap-6 mt-6 mb-6">
        <div class="row-span-4 flex ">
            <img src="/images/valetparking1.png" alt="" class="object-cover ">
        </div>
        <div>
            <div class="mb-8">
                <img src="/images/valet4.png" alt="" class="w-full">
            </div>
            <div class="text-center mb-7 p-4">
                <h1 class="text-3xl font-semibold">
                    Gane tiempo, parqueamos por usted.
                </h1>
            </div>
            <div class="text-justify p-6">
                <p class="text-lg">
                    Recepción y entrega de vehículos con personal
                     especializado y póliza de responsabilidad civil, que le garantiza al cliente agilidad y confort.
                </p>
            </div>
        </div>
    </section>
   
    <section class="grid xl:grid-cols-2 sm:grid-cols-1 md:grid-cols-2  gap-6 mt-6 mb-10">
        <div>
            <div class="mb-7">
                <img src="/images/fotofreparkingA2.png" alt="">
            </div>
            <div class="">
                <h1 class="text-3xl p-1 text-center mb-4 font-semibold">
                    Mejor servicio, más clientes. Convenio de parqueadero.
                </h1>
                <p class="p-6 text-justify text-lg">
                    Genere mayor atracción de clientes a su establecimiento. 
                    Ofrecemos soluciones completas de estacionamiento y movilidad a sus clientes. 
                    Somos un aliado clave para su empresa.
                </p>
            </div>
        </div>
        <div class="row-span-4 flex ">
            <img src="/images/freeparking.png" alt="" class="object-cover">
        </div>
    </section>
    <div class="border-t border-2 border-green-900 my-8 mx-auto w-full"></div>
    <section>
        <div class="grid gap-7 grid-cols-1 sm:grid-cols-2  p-2"> 
            <div class="row-span-2 flex items-center justify-center">
                <div class="service bg-[#8fc74a] p-7 text-center shadow shadow-slate-400">
                    <h2 class="text-white  font-normal- text-4xl">
                        "Permítanos apoyar su estrategia, 
                        podemos ampliar nuestro portafolio de servicios y ajustarnos a su 
                        presupuesto de acuerdo a su necesidad"
                    </h2>
                </div>
            </div>
            <div>
                <div class=" pb-12 ">
                    <FormularioServicio/>
                  </div>
            </div>
        </div>
    </section>
</Layout>
