---

import ButtonRef from "@components/ButtonRef.astro";
import FormularioSoluciones from "@components/FormularioSoluciones.astro";
import Layout from "@layouts/Layout.astro";


---

<Layout title="soluciones">
    <section class="grid grid-cols-1  sm:grid-cols-2 gap-6 mb-6">
        <div class="text-center mt-5">
            <h3 class="font-normal text-3xl sm:text-5xl">Administración y operación de estacionamientos </h3>
        </div>
        <div class="row-span-2">
            <picture>
                <img src="/images/adm1.png" alt="" class="w-full service">
            </picture>
        </div>
        <div>
            <p class="text-justify text-md sm:text-2xl">
                Somos especialistas en la administración, operación, mantenimiento de parqueaderos. Ofrecemos relaciones comerciales sostenibles con modelos de negocios que maximicen sus ingresos.
            </p>
        </div>
    </section>
    <section>
        <div class="grid w-full gap-3 grid-cols-1 md:grid-cols-4 place-content-center p-3">
            <div class="card max-w-sm shadow-2xl  border border-gray-400 rounded-lg dark:bg-[#adcce9]">
                <div class="flex justify-center p-4">
                   <img class="rounded-full w-48 h-48 object-cover" src="/images/megamall1.jpeg" alt="" />
                </div>
                <div class="p-5 text-center">
                    
                       <p class="mb-3 font-semibold text-black text-sm leading-relaxed" >
                        Administramos integralmente su estacionamiento. Delegue en nosotros la responsabilidad de la facturación por las ventas del parqueadero. Por un valor fijo mensual disponemos del recurso humano y toda la logística requerida para que usted no tenga porqué preocuparse.
                       </p>
                       
                </div>
            </div>
            <div class="card max-w-sm shadow-2xl border border-gray-400 rounded-lg dark:bg-[#adcce9]">
                <div class="flex justify-center p-4">
                   <img class="rounded-full w-48 h-48 object-cover" src="/images/cabecera-parking.jpeg" alt="" />
                </div>
                <div class="p-5 text-center">
                       
                       <p class="mb-3 font-semibold text-black text-sm leading-relaxed">
                        Recibimos su inmueble en concesión, entregando un porcentaje de participación 
                        sobre los ingresos por las ventas del parqueadero. 
                        Asumimos el 100% de la operación y administración del estacionamiento.</p>
                     
                </div>
            </div>
            <div class="card max-w-sm shadow-2xl border border-gray-400 rounded-lg dark:bg-[#adcce9]">
                <div class="flex justify-center p-4">
                   <img class="rounded-full w-48 h-48 object-cover" src="/images/parking-carros.jpeg" alt="" />
                </div>
                <div class="p-5 text-center">
                       
                       <p class="mb-3 font-semibold text-black text-sm leading-relaxed">
                        Operamos su estacionamiento de acuerdo a sus necesidades. Nos ajustamos a su presupuesto atendiendo 
                        con personal especializado su operación, recaudando el dinero por las ventas facturadas a su nombre 
                        y asistiendo cualquier eventualidad que se presente con nuestra póliza de responsabilidad civil.
                       </p>
                      
                </div>
            </div>
            <div class="card max-w-sm drop-shadow-2xl border border-gray-400 rounded-lg dark:bg-[#adcce9]">
                <div class="flex justify-center p-4">
                   <img class="rounded-full w-48 h-48 object-cover" src="/images/bucarica-parking.jpeg" alt="" />
                </div>
                <div class="p-5 text-center">
                       
                       <p class="mb-3 font-semibold text-black text-sm leading-relaxed">Deposite su inmueble en nuestra manos, valorizamos su propiedad manteniéndola y optimizándola para la operación del parqueadero.</p>
                      
                </div>
            </div>
        </div>
  
    </section>
    <div class="border-t border-2 border-green-900 my-8 mx-auto w-full"></div>
    <section class="w-full">
        <div class="grid gap-3 grid-cols-1 sm:grid-cols-2 mb-14">
            <div class="row-span-2 flex justify-center items-center order-last sm:order-first">
                <picture>
                    <img src="/images/automatismoneomundo.png" alt="" class="software sm:w-96 sm:h-96 w-72 h-72 rounded-full object-cover shadow-2xl shadow-gray-900">
                </picture>
            </div>
            <div class="text-center mb-5 order-first sm:order-last">
                <h1 class="font-semibold text-4xl">
                    Software y equipos para control vehicular
                </h1>
            </div>
            <div class="order-last">
                <p class="text-xl text-justify">             
                    Contamos con el conocimiento necesario para incursionar en proyectos dedicados a la automatización de estacionamientos con 
                    integración a los diferentes niveles de tecnología actual. Nos adaptamos a las necesidades específicas de cada cliente 
                    y  buscamos convertirnos en aliados estratégicos para la modernización y operación de su tipo de negocio.
                </p>
            </div>
        </div>

        <div class="grid gap-3 grid-cols-1 sm:grid-cols-2 mb-16">
            <div class="text-center mb-5 row-span-1">
                <h1 class="font-semibold text-4xl mb-16">
                    Desarrollo de software
                </h1>
           
                <p class="text-xl text-justify">             
                    Software de administración y gestión de estacionamiento, el cual incluye módulo administrativo, punto de pago manual y automático, módulo de convenios, manejo de mensualidades, aplicaciones de control y auditoria, integración con sistema contable, facturación electrónica, medios de pago APP y módulo de reportes parametrizados según requerimiento del cliente
                </p>
            </div>
            <div class=" flex justify-center items-center row-span-2 ">
                <picture>
                    <img src="/images/cajero.jpeg" alt="cajero" class="software w-96  object-fill shadow-2xl shadow-gray-900">
                </picture>
            </div>
            
        </div>

        <div class="grid gap-3 grid-cols-1 sm:grid-cols-2 mb-14">
            <div class="row-span-2 flex justify-center items-center order-last sm:order-first">
                <picture>
                    <img src="/images/cajerofisico.jpeg" alt="" class="software sm:w-80 sm:h-80 w-72 h-72 rounded-full object-cover shadow-2xl shadow-gray-900">
                </picture>
            </div>
            <div class="text-center mb-5 order-first sm:order-last">
                <h1 class="font-semibold text-4xl">
                    Repotenciación y conversión tecnológica
                </h1>
            </div>
            <div class="order-last">
                <p class="text-xl text-justify">                
                    Repotenciamos y realizamos conversión tecnologíca de los equipos usados que el cliente tenga para la operación de su estacionamiento. 
                    Esto representa ahorro y tranquilidad al delegar en nosotros la administración 
                    de sus equipos mediante la modernización y optimización con nuestro software adaptable a sus necesidades.
                </p>
            </div>
        </div>
    </section>

    <div class="border-t border-2 border-green-900 my-8 mx-auto w-full"></div>
    <section>
        <div class="grid gap-7 grid-cols-1 sm:grid-cols-2"> 
            <div class="flex justify-center items-center">
                <picture>
                    <img src="/images/logcle.png" alt="" class="card rounded-full shadow-xl shadow-gray-950 w-full">
                </picture>
            </div>
            <div class="flex justify-center items-center ">
                <div class="shadow shadow-gray-600  p-8">
                    <h1 class="text-center text-4xl font-semibold mb-10">
                        Nuestra experiencia
                    </h1>
                    <p class="text-xl text-justify">
                        Nacimos para satisfacer las necesidades de nuestros clientes, interesados en focalizar todos sus recursos en su actividad principal.
                        Estamos comprometidos con la prestación de un servicio excepcional.
                    Lo invitamos a ponerse en contacto con nosotros.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <div class="border-t border-2 border-green-900 my-8 mx-auto w-full"></div>
    <section>
        <div class="grid gap-7 grid-cols-1 sm:grid-cols-2 bg-slate-100 p-2"> 
            <div class="row-span-2 flex items-center justify-center">
                <div class="service bg-[#8fc74a] p-6 text-center shadow shadow-slate-900">
                    <h2 class="text-white font-semibold text-3xl">
                        Formulario de contacto comercial
                    </h2>
                </div>
            </div>
            <div>
                <div class=" pb-12">
                    <FormularioSoluciones/>
                  </div>
            </div>
        </div>
    </section>
    <script>
        import {animacionDiv} from '@lib/efectos'

        animacionDiv('service', 'animate__backInLeft');
        animacionDiv('card', 'animate__backInDown');
        animacionDiv('software', 'animate__pulse')

    </script>
</Layout>
